* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    color: white;
}

body {
    background-color: #222222;
    overflow-x: hidden;
}

::selection {
    color: black;
    background-color: #FF0037;
}

header nav {
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    font-size: 3rem;
}

header nav input {
    height: 2rem;
    width: 15rem;
    color: black;
    padding: 0.5rem;
}

header label {
    display: none;
}

header section {
    width: 100vw;
    height: 6vh;
    background-color: #333333;
}

header section button {
    background-color: #333333;
    border: none;
    line-height: 6vh;
    margin-left: 3rem;
}

header section button:hover {
    cursor: pointer;
}

#movie-template {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie-title {
    white-space: nowrap;
    width: 14rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie {
    margin: 1rem;
    transition: ease-in 0.2s;
}

.movie:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.movie img {
    width: 14rem;
}

a {
    text-decoration: none;
}

/*Styling detail page*/

.ww {
    width: 100%;
    height: 20rem;
    object-fit: fill;
    margin: auto;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.container {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered img {
    width: 10rem;
}

.movieDetails {
    margin: 3rem;
    background-color: #333333;
}

.movieDetails span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #222;
    text-transform: uppercase;
}

.movieDetails h1 {
    font-size: 3rem;
}

.movieDetails article {
    padding: 2rem;
}

/* width */

::-webkit-scrollbar {
    width: 20px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #555555;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #444444;
}